---
import type { CollectionEntry } from "astro:content"

interface Props {
    posts: CollectionEntry<"post">[]
}

const { posts } = Astro.props

async function getReadingTimes() {
    const readingTimesPromises = posts.map(async (post) => {
        const { remarkPluginFrontmatter } = await post.render()
        return remarkPluginFrontmatter.minutesRead
    })

    const readingTimes = await Promise.all(readingTimesPromises)
    return readingTimes
}

const readingTimes = await getReadingTimes()
---

<div class="blog-container">
    {
        posts.map((post, index) => {
            return (
                <div class="post">
                    <h2>
                        <a href={`/posts/${post.slug}`}>{post.data.title}</a>
                    </h2>

                    <div class="meta">
                        <time datetime={post.data.publishDate.toISOString()}>
                            {post.data.publishDate.toDateString()}
                        </time>
                        <span>|</span>
                        <span class="time-read">{readingTimes[index]}</span>
                        <span>|</span>
                        <div>
                            {post.data.tags.map((tag, idx) => {
                                return (
                                    <span>
                                        <a class="tag" href={`/tags/${tag}`}>
                                            {tag}
                                        </a>
                                        {idx !== post.data.tags.length - 1 ? (
                                            <span> · </span>
                                        ) : null}
                                    </span>
                                )
                            })}
                        </div>
                    </div>

                    <p class="description">{post.data.description}</p>
                    <div class="read-more">
                        <a href={`/posts/${post.slug}`}>Read more &rarr;</a>
                    </div>
                </div>
            )
        })
    }
</div>

<style>
    h2 {
        text-transform: capitalize;
        color: black;
        margin: 0;
    }

    h2 > a {
        color: black;
    }

    .blog-container {
        display: flex;
        flex-direction: column;
    }

    .meta {
        font-size: 0.8em;
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .post {
        display: flex;
        flex-direction: column;
        border-radius: 0.25em;
        padding-bottom: 2em;
    }

    .description {
        margin: 0.5em 0;
    }
</style>
